@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap');

#subtitle, #toc {
  background-color: transparent;
}



canvas {
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
}

html, body {
  height: 100vh;
  scroll-behavior: smooth;
}

html {
  background: black no-repeat center center fixed;
  background-size: cover;
}

*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

:root {
  --dark-bg: #000000c2;
  --spacing: 350px;

  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
}


main {
  width: 100vw;
  color: #dadad9;
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  padding: 20vw 0px;

  
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

a {
  color: #729D9E;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 3.5rem;
  font-style: italic;
}

h2, h3, blockquote {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 2rem;
  font-style: normal;
}

h3 {
  font-size: 1.5rem;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}



  header {
    background: var(--dark-bg);
    grid-column: 2 / span 5;
    font-size: 2.5rem;
    padding: 2rem;
    margin-bottom: var(--spacing);
  }

  section {
    grid-column: 2 / 8;
    padding: 1rem;
    background: var(--dark-bg);
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: var(--spacing);
  }

  blockquote {
    margin: 0;
    padding: 0;
    grid-column: 2 / span 9;
    margin-bottom: var(--spacing);
  }

  blockquote p {
    color: black;
    background-color: white;
    font-size: 4rem;
    display: inline;
    line-height: 1;
  }

  .left {
    grid-column: 6 / 12;
  }

#videos {
  display: flex;
}

/* MOBILE */
@media (max-width: 1000px) {

  html {
    scroll-behavior: smooth;
  }
#subtitle, #toc {
  background-color: transparent;
}
  canvas {
    position: fixed;
    top: 0;
    left: 0;
  }

  *::-webkit-scrollbar {
    display: none;
  }

  * {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  :root {
    --dark-bg: #0000008c;
    --spacing: 350px;

    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
  }


  main {
    width: 100%;
    color: #dadad9;
    z-index: 99;
    /* margin: 0px auto; */
    /* padding: 120px 0px; */
    display: inline;
  }

  a {
    color: #729D9E;
  }

  h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 5vw;
    font-style: italic;
  }

h2, h3, blockquote {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 2rem;
  font-style: normal;
}

h3 {
  font-size: 1.5rem;
}

  canvas {
    position: fixed;
    top: 0;
    left: 0;
  }



    header {
      background: var(--dark-bg);
      font-size: 2.5rem;
      padding: 2rem;
      margin-bottom: var(--spacing);
    }

    section {
      padding: 1rem;
      background: var(--dark-bg);
      font-size: 1.25rem;
      line-height: 1.5;
      margin-bottom: var(--spacing);
    }

    blockquote {
      margin: 0;
      padding: 0;
      margin-bottom: var(--spacing);
    }

    blockquote p {
      color: black;
      background-color: white;
      font-size: 4rem;
      display: inline;
      line-height: 1;
    }

} 